<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NastyMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NastyMod.Properties.Settings>
            <setting name="playerGodMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerInfiniteEnergy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerInfiniteStamina" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerNeverWanted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerMoveSpeedMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="playerCrouchSpeedMultiplier" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="playerJumpMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="worldNpcEsp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="worldPlayerEsp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="worldEspRange" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="worldGrowSpeedMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="spawnerSelectedCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="spawnerItemAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stackSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="useDealSuccessChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dealSuccessChance" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="grabberCapacity" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="employeesSelectedProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="teleportSelectedCategory" serializeAs="String">
                <value />
            </setting>
        </NastyMod.Properties.Settings>
    </userSettings>
</configuration>